**/build/**
server/certs/server/**
server/certs/client/**
server/ca/server/**
server/ca/client/**
server/tmasqued.conf

client/certs/**
client/tmasque.conf

**/**_bpfel.go
**/**_bpfel.o

**/.env
**/keys.txt

**/.vagrant/**
