LOG_LEVEL=debug
WAN_INTERFACE=eth0
BIND_ADDR=0.0.0.0
LISTEN_PORT=443
TUNNEL_IP=10.76.0.1/31
TUNNEL_MTU=1416
CLIENT_CIDR=10.77.0.1/16
CLIENT_ROUTE=0.0.0.0/0
FILTER_IP_PROTOCOL=0
QUIC_GO_DISABLE_RECEIVE_BUFFER_WARNING=true
QUIC_GO_DISABLE_GSO=true
SAN_DNS_LIST=iiiii.info,*.iiiii.info
SAN_IP_LIST=1.1.1.1,8.8.4.4,8.8.8.8
DB_INFO=masqued.db
